@use "@/shared/styles/mixin" as *;
@use "@/shared/styles/variables" as *;

.nav {
  background-color: $red-300;
  height: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 375px;
  @include desktop {
    padding: 40px;
  }
}

.logoTitle {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}

.authContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  column-gap: 20px;

  & a {
    text-decoration: none;
    color: $black;
  }
}
.guideText {
  color: $black;
  padding: 10px;
  text-align: center;
}
.mainContainer {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: $gray-200;
  display: flex;
  justify-content: center;
}

.guideContainer {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;

  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 20px;
  padding: 20px;

  & h2 {
    font-size: $font-size-2xl;
  }
}

.button {
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  color: $white;
  background-color: $black;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  padding: 16px 8px;
  border-radius: 16px;
}
